html {
  
}



h1 {
    text-align: center;
    margin-top: auto;
    font-size: 200%;
}


h2 {
    text-align: center;
}


.characterIcon {
  background-color: #f1f1f1;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;    
  margin: 1%;
  border-radius: 10px;

}


.characterIcon:hover {
    transform: scale(1.1);
    border-color: white;
 
    background-color: darkred;
    transition: .5s;
}

.charProfile {
    width: 70%;
    padding: 50px 0;
    text-align: center;
    margin: auto;
    background-color: lightblue;
    border-radius: 10px;
 
}

.charBox {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}