
@font-face {
    font-family: "overwatch";
    src: url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") format('woff');
}

body {
    background-image:url(https://preview.ibb.co/iU8vfe/q.jpg);
    background-size: 1500px 2000px; 
}

#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    text-align: center;
    margin-top: auto;
    font-size: 200%;
    font-family: overwatch; 
}


h2 {
    text-align: center;
    font-family: overwatch;
}



.characterIcon {
  background-color: #f1f1f1;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;    
  margin: 1%;
  border-radius: 10px;
  width: 8%;

}


.characterIcon:hover {
    transform: scale(1.1);
    border-color: white;
 
    background-color: darkred;
    transition: .5s;
}

.charProfile {
    width: 70%;
    padding: 50px 0;
    text-align: center;
    margin: auto;
    background-color: lightblue;
    border-radius: 10px;
 
}

.charBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}